.contain {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.input-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
}
.input-form strong {
    width: 55%;
    font-weight: bold;
    font-size: 29px;
    color: #008B00;
}
.input-design {
    background-color: #E2E2E2;
    padding: 1.25rem 0.75rem;
    outline: none;
    border: none;
    border-radius: 20px;
}
.image-container {
    display: flex;
    justify-content: center;
}
button {
    background-color: white;
    color: #008B00;
    border-radius: 5px;
    outline: none;
    border: none;
    align-self: center;
    padding: 1rem 0.75rem;
    width: 80%;
    border-radius: 20px;
    border: solid 1px #008B00;
    font-size: 20px;
}
button:hover{
    background-color:  #008B00;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.forgot-log {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.create {
    width: 100%;
    display: flex;
    justify-content: center;
}
.create a {
    color: #008B00;
}
.forgot-log a {
    color: #008B00;
}
.form-check-input:checked[type="checkbox"] {
    background-color: #008B00;
    color: #008B00;
    flex-direction: row;
}
.form-check-input {
    margin-left: 1.5em;
}
.form-check-label {
    color: #008B00;
    flex-direction: row;
}
.forgot-log p {
    color: black;
}