.cont{

    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border: 10px black;

}
.create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border: 10px black;
    
}
.image-contain {
    width: 100%;
    display: flex;
    justify-content: center;
}
.input-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.input-forms strong {
    align-items: center;
    width: 25%;
    font-weight: bold;
    font-size: 29px;
    color: #008B00;
    text-align: center;
}
.input-containers {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    justify-content: center;
}
.input-design {
    background-color: #E2E2E2;
    padding: 1.25rem 0.75rem;
    outline: none;
    border: none;
    border-radius: 30px;
    gap: 15px;
}
.row {
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.btn {
    background-color: white;
    color: #008B00;
    border-radius: 5px;
    outline: none;
    border: none;
    align-self: center;
    padding: 1rem 0.75rem;
    width: 50%;
    border-radius: 20px;
    border: solid 1px #008B00;
    font-size: 20px;
}
.btn:hover{
    background-color:  #008B00;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.forgot {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.acc {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acc a {
    color: #008B00;
}
.forgot a {
    color: #008B00;
}
.form-check-input:checked[type="checkbox"] {
    background-color: #008B00;
    color: #008B00;
}
.form-check-input {
    margin-left: 1.5em;
}
.form-check-label {
    width: 100%;
    display: flex;
    justify-content: center;
}
.row-drpd {
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.btn-ch {
    background-color: #E2E2E2;
    padding: 1.25rem 0.75rem;
    outline: none;
    border: none;
    border-radius: 30px;
    gap: 15px;
}